In [1]:
# Imports -------------------------
import pandas as pd
# ---------------------------------

In [2]:
NCounts_CIGT = pd.read_csv('Results/NCounts_CIGT.csv')
NCounts_CIGT

,ID,Type,FGR,CD99,ARF5,SLC25A5,POLR2J,IL32,RPS20,IDS,...,MTATP6P1,LINC02972,CHCHD10,EEF1G,BRK1,C17orf49,LOC124903659,RPL17,NDUFA7,EGLN2
0,1058,1,5069.580040,1578.827545,2992.460441,3395.968681,1611.595663,2398.030516,18619.603402,3332.991606,...,19719.677898,4990.868852,373.719041,57813.834711,3010.063149,1122.335152,1186.151740,18162.339198,499.646110,3780.520158
1,1059,1,22322.926466,2977.917867,5103.243995,3036.767940,1406.053242,4941.322966,8062.225679,10545.204014,...,10154.439528,3324.101383,252.586598,26712.912781,2523.261991,1524.612704,220.297177,3295.036434,474.430542,6131.083961
2,1060,1,13309.274821,2625.227716,3452.118435,2699.675801,1713.541827,3821.111384,18238.310869,5798.275658,...,9669.544485,27923.568621,405.456436,47541.807734,3075.430963,1672.903361,743.801781,15782.782156,604.229611,5009.622187
3,1061,1,2092.509298,5217.403538,2348.651952,4755.579746,1902.448739,689.823337,32714.431318,2657.608782,...,18275.561505,2764.023179,307.642235,52272.074896,1992.220640,1298.331547,1388.079434,35091.990798,611.218713,2337.809935
4,1062,1,10993.829656,2478.139442,3871.937688,2526.369235,1892.057554,3776.799535,5219.417688,6519.792646,...,5777.510168,20434.521165,454.303864,13854.950602,3415.620723,1893.874800,680.118769,5727.192667,690.737793,5593.112143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,655,0,31504.607255,3255.911026,3730.017368,3048.706506,1048.029262,4071.288813,8457.360492,13688.423405,...,5938.515145,11401.686321,227.924972,25800.216417,2273.649598,1330.751430,434.642281,3956.475108,462.021279,5865.791959
68,656,0,21039.133213,2778.658293,2275.656845,3030.174777,1112.282795,1083.601090,24764.319265,8841.901232,...,7708.204866,2321.749289,617.759784,66079.910808,3860.368282,1629.795294,339.893955,20161.586529,563.680588,5327.787309
69,657,0,22588.818351,3438.052885,3856.288323,2660.885013,1174.076044,7760.914622,10425.208266,16723.906294,...,4138.766957,2581.266569,191.600944,26637.841436,2515.928494,1228.068759,572.657187,5504.128198,409.904026,7891.519010
70,658,0,18752.923297,3383.866368,2979.236304,3475.303494,1069.758958,6539.832626,14655.016100,11304.538137,...,3496.915905,1633.697432,236.905281,38168.987424,2594.182098,1488.887348,459.956452,6856.094249,478.327002,5191.827723
71,659,0,21653.214034,3285.588236,3140.755937,2982.100166,962.057182,7247.898317,9185.452866,9730.242227,...,4589.744961,39650.364469,338.675093,29649.402087,2561.112574,1495.228542,730.162136,11120.494057,382.049381,5795.120404

In [3]:
mart_export = pd.read_csv('Datasets/mart_export.txt', sep='\t')

mart_export.rename(columns={
    'Chromosome/scaffold name': 'Chromosome',
    'Gene start (bp)': 'Start',
    'Gene end (bp)': 'End',
    'Gene name': 'Gene'
}, inplace=True)

mart_export = mart_export[['Chromosome', 'Start', 'End', 'Gene']]
Genes_CIGT = NCounts_CIGT.columns.tolist()
BED = mart_export[mart_export['Gene'].isin(Genes_CIGT)]
BED.shape

(964, 4)

In [4]:
def is_valid_chromosome(chromosome):
    # Check if chromosome is "X" or "Y"
    if chromosome in ["X", "Y"]:
        return True
    try:
        # Attempt to convert chromosome to an integer
        int(chromosome)
        return True
    except ValueError:
        # If conversion fails, chromosome is not valid
        return False

BED = BED[BED['Chromosome'].apply(is_valid_chromosome)]
BED['Chromosome'] = 'chr' + BED['Chromosome'].astype(str)
BED.shape

(720, 4)

In [5]:
RNASeq_VCF_IDs = pd.read_excel('/home/wbd20/Ahmed/Datasets/RNA-Seq_VCF_IDs.xlsx')
RNASeq_VCF_IDs['Gene Exp IDs'] = RNASeq_VCF_IDs['Gene Exp IDs'].astype('Int64')
RNASeq_VCF_IDs.drop('RNA-seq Sample IDs', axis = 1, inplace = True)

RNASeq_VCF_IDs

    Gene Exp IDs WGS Sample IDs
0           1059        BR2-106
1           1068        BR2-137
2           1073        BR2-158
3           1084        BR2-178
4           1085        BR2-201
..           ...            ...
91          1079       BR2-1676
92          1080       BR2-1732
93          1081       BR2-1747
94          1082       BR2-1783
95          1083       BR2-1784

[96 rows x 2 columns]

In [6]:
Counts_CIGTV = NCounts_CIGT.merge(RNASeq_VCF_IDs[['Gene Exp IDs', 'WGS Sample IDs']], left_on='ID', right_on='Gene Exp IDs', how='left')
Counts_CIGTV.drop('Gene Exp IDs', axis=1, inplace=True)
Counts_CIGTV.rename(columns={'WGS Sample IDs': 'SNP'}, inplace=True)
cols = [Counts_CIGTV.columns[0], 'SNP'] + [col for col in Counts_CIGTV.columns if col not in ['ID', 'SNP']]
Counts_CIGTV = Counts_CIGTV[cols]
Counts_CIGTV['SNP'] = Counts_CIGTV['SNP'].str.split("-").str[-1]
Counts_CIGTV.rename(columns={'ID': 'RNASeq', 'SNP': 'WGS'}, inplace=True)
Counts_CIGTV

,RNASeq,WGS,Type,FGR,CD99,ARF5,SLC25A5,POLR2J,IL32,RPS20,...,MTATP6P1,LINC02972,CHCHD10,EEF1G,BRK1,C17orf49,LOC124903659,RPL17,NDUFA7,EGLN2
0,1058,1015,1,5069.580040,1578.827545,2992.460441,3395.968681,1611.595663,2398.030516,18619.603402,...,19719.677898,4990.868852,373.719041,57813.834711,3010.063149,1122.335152,1186.151740,18162.339198,499.646110,3780.520158
1,1059,106,1,22322.926466,2977.917867,5103.243995,3036.767940,1406.053242,4941.322966,8062.225679,...,10154.439528,3324.101383,252.586598,26712.912781,2523.261991,1524.612704,220.297177,3295.036434,474.430542,6131.083961
2,1060,1073,1,13309.274821,2625.227716,3452.118435,2699.675801,1713.541827,3821.111384,18238.310869,...,9669.544485,27923.568621,405.456436,47541.807734,3075.430963,1672.903361,743.801781,15782.782156,604.229611,5009.622187
3,1061,1075,1,2092.509298,5217.403538,2348.651952,4755.579746,1902.448739,689.823337,32714.431318,...,18275.561505,2764.023179,307.642235,52272.074896,1992.220640,1298.331547,1388.079434,35091.990798,611.218713,2337.809935
4,1062,1092,1,10993.829656,2478.139442,3871.937688,2526.369235,1892.057554,3776.799535,5219.417688,...,5777.510168,20434.521165,454.303864,13854.950602,3415.620723,1893.874800,680.118769,5727.192667,690.737793,5593.112143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,655,NaN,0,31504.607255,3255.911026,3730.017368,3048.706506,1048.029262,4071.288813,8457.360492,...,5938.515145,11401.686321,227.924972,25800.216417,2273.649598,1330.751430,434.642281,3956.475108,462.021279,5865.791959
68,656,NaN,0,21039.133213,2778.658293,2275.656845,3030.174777,1112.282795,1083.601090,24764.319265,...,7708.204866,2321.749289,617.759784,66079.910808,3860.368282,1629.795294,339.893955,20161.586529,563.680588,5327.787309
69,657,NaN,0,22588.818351,3438.052885,3856.288323,2660.885013,1174.076044,7760.914622,10425.208266,...,4138.766957,2581.266569,191.600944,26637.841436,2515.928494,1228.068759,572.657187,5504.128198,409.904026,7891.519010
70,658,NaN,0,18752.923297,3383.866368,2979.236304,3475.303494,1069.758958,6539.832626,14655.016100,...,3496.915905,1633.697432,236.905281,38168.987424,2594.182098,1488.887348,459.956452,6856.094249,478.327002,5191.827723
71,659,NaN,0,21653.214034,3285.588236,3140.755937,2982.100166,962.057182,7247.898317,9185.452866,...,4589.744961,39650.364469,338.675093,29649.402087,2561.112574,1495.228542,730.162136,11120.494057,382.049381,5795.120404

In [7]:
import pandas as pd
from cyvcf2 import VCF

def parse_csq_header(vcf):
    for header in vcf.header_iter():
        info = header.info(extra=True)
        if info.get('ID') == 'CSQ':
            description = info['Description']
            format_description = description.split('Format: ')[-1].strip('"')
            return format_description.split('|')
    return []

def vcf_to_df(vcf_file):
    vcf = VCF(vcf_file)
    csq_header = parse_csq_header(vcf)
    samples = vcf.samples
    
    field_indices = {field: csq_header.index(field) for field in ['Consequence', 'IMPACT', 'Existing_variation', 'SYMBOL', 'Feature_type', 'Feature', 'gnomADe_AF', 'CADD_PHRED', 'ClinVar_CLNSIG', 'ClinVar_CLNREVSTAT', 'ClinVar_CLNDN'] if field in csq_header}
    
    records = []

    for variant in vcf:
        record = {
            'CHROM': variant.CHROM,
            'POS': variant.POS,
            'ID': variant.ID,
            'REF': variant.REF,
            'ALT': ','.join(variant.ALT),
            'QUAL': variant.QUAL,
            'FILTER': variant.FILTER,
        }
        
        for field in field_indices.keys():
            record[field] = []

        csq_annotations = variant.INFO.get('CSQ', [])
        for annotation in csq_annotations.split(','):
            fields = annotation.split('|')
            for field, index in field_indices.items():
                value = fields[index] if index < len(fields) else ''
                record[field].append(value)
                
        for key in field_indices.keys():
            record[key] = ','.join(set(filter(None, record[key])))
        
        for sample in samples:
            genotype_info_str = variant.format('GT')[vcf.samples.index(sample)]
            # Check if genotype is present and not './.:.:.:.:.'
            is_genotype_present = 1 if not all(gt == './.' for gt in genotype_info_str) else 0
            record[f'{sample}_GT_Presence'] = is_genotype_present

        records.append(record)
    
    return pd.DataFrame(records)

vcf_path = '/PATH/CVD-SNPs_VEP_annotated.vcf'
vcf = vcf_to_df(vcf_path)

In [8]:
vcf_df = vcf.copy()

In [9]:
vcf_df['CADD_PHRED'] = pd.to_numeric(vcf_df['CADD_PHRED'], errors='coerce')
vcf_df = vcf_df[vcf_df['CADD_PHRED'] >= 10]
vcf_df['gnomADe_AF'] = pd.to_numeric(vcf_df['gnomADe_AF'], errors='coerce')
vcf_df = vcf_df[vcf_df['gnomADe_AF'] <= 0.001]
vcf_df = vcf_df[vcf_df['QUAL'] >= 50]
vcf_df = vcf_df.drop('QUAL', axis = 1)
vcf_df = vcf_df.drop('FILTER', axis = 1)
vcf_df.shape

(583, 112)

In [10]:
import re

def extract_id(column_name):
    match = re.search(r'DNA-BR2-(\d+)_', column_name)
    if match:
        return match.group(1)  # Return the ID portion of the match
    return column_name

vcf_df.columns = [extract_id(col) for col in vcf_df.columns]

print(vcf_df.columns)

Index(['CHROM', 'POS', 'ID', 'REF', 'ALT', 'Consequence', 'IMPACT',
       'Existing_variation', 'SYMBOL', 'Feature_type',
       ...
       '860', '890', '917', '921', '922', '941', '947', '975', '986', '995'],
      dtype='object', length=112)

In [11]:
vcf_df['Position'] = vcf_df['CHROM'].astype(str) + ':' + vcf_df['POS'].astype(str)
vcf_df['Allele'] = vcf_df['REF'].astype(str) + '>' + vcf_df['ALT'].astype(str)

# Rename columns
vcf_df.rename(columns={
    'Existing_variation': 'SNV',
    'SYMBOL': 'Gene',
    'gnomADe_AF': 'Allele Frequency',
    'CADD_PHRED': 'CADD Phred'
}, inplace = True)

new_column_order = ['Position', 'Allele'] + [col for col in vcf_df.columns if col not in ['Position', 'Allele', 'CHROM', 'POS', 'REF', 'ALT']]
vcf_df = vcf_df[new_column_order]

In [12]:
def filter_snv_names(snv_str):
    snv_list = snv_str.split(',')
    filtered_snv_list = [snv for snv in snv_list if snv.strip().startswith('rs')]
    return ', '.join(filtered_snv_list)

vcf_df['SNV'] = vcf_df['SNV'].apply(filter_snv_names)
vcf_df.reset_index(drop=True, inplace=True)
CIGT_df = vcf_df.copy()

In [13]:
vcf_df = vcf_df[['SNV', 'Position', 'Allele', 'Feature', 'Consequence', 'Allele Frequency', 'CADD Phred', 'Gene', 'ClinVar_CLNSIG', 'ClinVar_CLNREVSTAT', 'ClinVar_CLNDN']]

In [14]:
# Category mapping
category_mapping = {
    '3_prime_UTR_variant': "3'-UTR",
    '5_prime_UTR_variant': "5'-UTR",
    'NMD_transcript_variant': "NMD Transcript",
    'downstream_gene_variant': "Downstream Gene",
    'intron_variant': "Intron",
    'mature_miRNA_variant': "Mature miRNA",
    'missense_variant': "Missense",
    'non_coding_transcript_exon_variant': "NC Transcript Exon",
    'non_coding_transcript_variant': "NC Transcript",
    'splice_acceptor_variant': "Splice Acceptor",
    'splice_donor_5th_base_variant': "Splice Donor 5th Base",
    'splice_donor_region_variant': "Splice Donor Region",
    'splice_polypyrimidine_tract_variant': "Splice Polypyrimidine Tract",
    'splice_region_variant': "Splice Region",
    'start_lost': "Start Lost",
    'stop_gained': "Stop Gained",
    'stop_retained_variant': "Stop Retained",
    'synonymous_variant': "Synonymous",
    'upstream_gene_variant': "Upstream Gene"
}

def clean_consequence(consequence):
    unique_consequences = sorted(set(
        category_mapping.get(part, part) 
        for part in consequence.replace('&', ',').split(',')
    ))
    return ', '.join(unique_consequences)

vcf_df['Consequence'] = vcf_df['Consequence'].apply(clean_consequence)

def add_space_after_commas(feature):
    return '|'.join([part.replace(',', ', ') for part in feature.split('|')])

vcf_df['Feature'] = vcf_df['Feature'].apply(add_space_after_commas)
vcf_df

,SNV,Position,Allele,Feature,Consequence,Allele Frequency,CADD Phred,Gene,ClinVar_CLNSIG,ClinVar_CLNREVSTAT,ClinVar_CLNDN
0,rs149786471,chr13:27424869,C>T,"ENST00000435781, ENST00000470606, ENST00000493...","Intron, NC Transcript, NMD Transcript, Synonym...",0.000564,12.01,GTF3A,,,
1,rs201796232,chr13:27623037,G>A,"ENST00000399696, ENST00000685267, ENST00000636...","Downstream Gene, Intron, NC Transcript, NMD Tr...",0.000052,12.62,"POLR1D,LNX2",Likely_benign,criteria_provided&_single_submitter,not_provided
2,rs41323349&COSV100996298,chr13:30764017,T>C,"ENST00000380490, ENST00000617770",Missense,0.000143,18.94,ALOX5AP,,,
3,rs1368294658&COSV57290330,chr13:110642350,G>A,"ENST00000257347, ENST00000537386, ENST00000535...","3'-UTR, Downstream Gene, Missense, NC Transcri...",0.000006,29.20,"CARS2,NAXD",Uncertain_significance,criteria_provided&_single_submitter,Combined_oxidative_phosphorylation_defect_type_27
4,rs146355429,chr13:110642449,C>T,"ENST00000257347, ENST00000537386, ENST00000535...","3'-UTR, Downstream Gene, Missense, NC Transcri...",0.000788,22.50,"CARS2,NAXD",Benign,criteria_provided&_multiple_submitters&_no_con...,Combined_oxidative_phosphorylation_defect_type...
...,...,...,...,...,...,...,...,...,...,...,...
578,rs140891101,chr15:74926878,G>A,"ENST00000564811, ENST00000322347, ENST00000562...","5'-UTR, Intron, Missense",0.000076,24.70,COX5A,,,
579,rs762051874,chr15:82540457,C>G,"ENST00000611163, ENST00000611031, ENST00000618...","5'-UTR, Downstream Gene, NC Transcript Exon, U...",0.000253,12.11,"CPEB1,RPS17",,,
580,rs942454077,chr15:92974840,C>G,"ENST00000625463, ENST00000636410, ENST00000700...","Downstream Gene, Intron, NC Transcript, NMD Tr...",0.000004,15.79,CHD2,,,
581,rs202244266,chr15:92980915,A>G,"ENST00000625463, ENST00000637789, ENST00000700...","Downstream Gene, Intron, NC Transcript, NMD Tr...",0.000273,18.30,CHD2,Benign/Likely_benign,criteria_provided&_multiple_submitters&_no_con...,not_provided&Inborn_genetic_diseases&Developme...
582,rs755898320,chr15:93009265,C>T,"ENST00000629104, ENST00000625662, ENST00000394...","3'-UTR, Downstream Gene, Missense, NC Transcri...",0.000020,29.80,CHD2,Conflicting_classifications_of_pathogenicity,criteria_provided&_conflicting_classifications,Childhood_epilepsy_with_centrotemporal_spikes&...

In [15]:
NCounts_DE_CIGT = pd.read_csv('Results/NCounts_DE_CIGT.csv')
RNASeq_VCF_IDs = pd.read_excel('Datasets/RNA-Seq_VCF_IDs.xlsx')
RNASeq_VCF_IDs['Gene Exp IDs'] = RNASeq_VCF_IDs['Gene Exp IDs'].astype('Int64')
RNASeq_VCF_IDs.drop('RNA-seq Sample IDs', axis = 1, inplace = True)

In [16]:
NCounts_DE_CIGT = NCounts_DE_CIGT.merge(RNASeq_VCF_IDs[['Gene Exp IDs', 'WGS Sample IDs']], left_on='ID', right_on='Gene Exp IDs', how='left')
NCounts_DE_CIGT.drop('Gene Exp IDs', axis=1, inplace=True)
NCounts_DE_CIGT.rename(columns={'WGS Sample IDs': 'SNP'}, inplace=True)
cols = [NCounts_DE_CIGT.columns[0], 'SNP'] + [col for col in NCounts_DE_CIGT.columns if col not in ['ID', 'SNP']]
NCounts_DE_CIGT = NCounts_DE_CIGT[cols]
NCounts_DE_CIGT['SNP'] = NCounts_DE_CIGT['SNP'].str.split("-").str[-1]
NCounts_DE_CIGT.rename(columns={'ID': 'RNASeq', 'SNP': 'WGS'}, inplace=True)

In [17]:
SNVs_CADD = pd.read_csv('/home/wbd20/Ahmed/Results/SNVs_CADD.csv')
SNVs_CIGT = pd.read_csv('/home/wbd20/Ahmed/Results/SNVs_CIGT.csv')

In [18]:
unique_genes = NCounts_DE_CIGT.columns.drop(['RNASeq', 'WGS', 'Type']).unique()
relevant_SNVs = SNVs_CADD[SNVs_CADD['Gene'].apply(lambda x: any(gene in x.split(', ') for gene in unique_genes))]
relevant_SNV_ids = relevant_SNVs['SNV'].tolist()
relevant_SNVs_CIGT = SNVs_CIGT[['WGS'] + [snv for snv in relevant_SNV_ids if snv in SNVs_CIGT.columns]]
relevant_SNVs_CIGT

,WGS,rs750853525,rs149483341,rs764894987,rs141799330,rs61737078,rs115891972,rs759402008,rs773349568,rs776267089,...,rs1455280111,rs147644033,rs141524982,rs760078095,rs777136283,rs142659476,rs373979544,rs2229568,rs751011909,rs201003183
0,1007,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,1015,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,106,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,1073,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,1075,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,941,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
92,947,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
93,975,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
94,986,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
95,995,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [19]:
NCounts_DE_CIGT = pd.read_csv('/home/wbd20/Ahmed/Results/NCounts_MRMR_CIGT.csv')
RNASeq_VCF_IDs = pd.read_excel('Datasets/RNA-Seq_VCF_IDs.xlsx')
RNASeq_VCF_IDs['Gene Exp IDs'] = RNASeq_VCF_IDs['Gene Exp IDs'].astype('Int64')
RNASeq_VCF_IDs.drop('RNA-seq Sample IDs', axis = 1, inplace = True)

In [20]:
NCounts_DE_CIGT = NCounts_DE_CIGT.merge(RNASeq_VCF_IDs[['Gene Exp IDs', 'WGS Sample IDs']], left_on='ID', right_on='Gene Exp IDs', how='left')
NCounts_DE_CIGT.drop('Gene Exp IDs', axis=1, inplace=True)
NCounts_DE_CIGT.rename(columns={'WGS Sample IDs': 'SNP'}, inplace=True)
cols = [NCounts_DE_CIGT.columns[0], 'SNP'] + [col for col in NCounts_DE_CIGT.columns if col not in ['ID', 'SNP']]
NCounts_DE_CIGT = NCounts_DE_CIGT[cols]
NCounts_DE_CIGT['SNP'] = NCounts_DE_CIGT['SNP'].str.split("-").str[-1]
NCounts_DE_CIGT.rename(columns={'ID': 'RNASeq', 'SNP': 'WGS'}, inplace=True)
NCounts_DE_CIGT['WGS'] = pd.to_numeric(NCounts_DE_CIGT['WGS'], errors='coerce', downcast = 'integer')
relevant_SNVs_CIGT['WGS'] = pd.to_numeric(relevant_SNVs_CIGT['WGS'], errors='coerce', downcast = 'integer')
merged_df = pd.merge(NCounts_DE_CIGT, relevant_SNVs_CIGT, on = "WGS", how = "left")

df = merged_df
columns_to_check = [col for col in df.columns if col.startswith('rs')]
for col in columns_to_check:
    if df[col].sum() == 0 or df[col].sum() >= 2:
        df.drop(col, axis=1, inplace=True)

df

/tmp/ipykernel_92981/2749185975.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  relevant_SNVs_CIGT['WGS'] = pd.to_numeric(relevant_SNVs_CIGT['WGS'], errors='coerce', downcast = 'integer')

,RNASeq,WGS,Type,ITGB2,CD37,RPL36AP37,PSAP,ACTB,SELL,NCF2,...,rs776267089,rs576978943,rs199926951,rs147644033,rs141524982,rs760078095,rs142659476,rs373979544,rs751011909,rs201003183
0,1058,1015.0,1,9134.766230,7351.580533,3050.136570,11776.206212,24872.277581,11468.465632,12347.235956,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1059,106.0,1,21651.847329,3313.983213,335.338536,48435.640379,105542.384031,29481.631763,19360.638770,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1060,1073.0,1,12897.487026,4429.497525,1678.277112,22329.866174,4280.084624,27834.400439,12748.321271,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1061,1075.0,1,9729.447843,7967.124854,4070.316496,6120.981509,13905.797089,7112.157221,11393.281912,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1062,1092.0,1,22355.906429,3050.175942,1312.073643,37438.303304,7875.678779,45176.189087,4962.449512,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,655,NaN,0,20799.591680,5718.646289,170.273300,53181.103831,80117.340814,36387.340478,15872.934765,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,656,NaN,0,11585.467927,81613.963031,1439.657096,34188.621222,153016.433991,91570.387478,13791.901850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,657,NaN,0,21099.910461,5734.937774,138.279940,35868.948024,70836.550490,26929.563895,15827.843836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,658,NaN,0,21967.843880,6035.958989,177.796498,44565.599462,88452.606286,25949.879057,15038.488443,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,659,NaN,0,27746.601258,6000.833127,205.816899,51271.408514,105743.167808,26109.397834,15126.516198,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN